.faq.container.center
	h1 Frequently asked questions
	ul
		li
			h2 What is Sex Tech Hack?
			p Sex Tech Hack is a two-day invention marathon for developers, designers, psychologists, researchers and more. During the event, participants will build projects that answer our challenges to further innovation in the field. 
		li
			h2 What are the outcomes?
			p Our aim is to build projects which answer our challenges of building innovative hardware, interfaces and apps. We want everyone attending to learn loads, build awesome projects, and have fun. 
		li 
			h2 But what are you expecting to actually be built?
			p Anything goes! We're really interested to see what awesome things you can build, especially how you can incorporate intuitive interaction through machine intelligence (AI and machine learning).
		li
			h2 How much does this event cost to attend?
			p We want to make this event accessible for everyone, so there is no charge to enter. To make this possible, we need sponsorship. If you are interested in supporting, please #[a(href="mailto:k.delvin@gold.ac.uk") get in touch].
		li 
			h2 Do I need to be a student to attend?
			p No. You do not need to be a student to attend this event. We will work to ensure that there is a diverse range of people, and this includes academic status.
		li
			h2 Isn't hacking bad?
			p In this context, hacking means building apps, websites and services really quickly to prove the value in an idea. Nothing malicious, nothing illegal.
		li
			h2 Do I need to attend with a team?
			p You don’t need a team to take part; it’s perfectly acceptable to create a solo project. However, during the event itself, there will be opportunities to share ideas and connect with your fellow hackers to form a team. As organisers, we’ll do our best to encourage and facilitate teamwork across the weekend.
		li
			h2 Can I attend if I'm under 18?
			p Unfortunately not. While we understand there are many talented and driven induviduals under the age of 18, we will not be considering their applications due to the subject nature of this event. 
		li
			h2 Do I have to stay overnight?
			p No, it is not a requisite to stay over. If you would like to stay though, we'll have a small number of airbeds available. We recommend you bring sleeping bags, pillows, and a change of clothes. 
		li
			h2 What's the deal with food?
			p All food across the weekend will be provided. That is: lunch and dinner on Saturday, breakfast and lunch on Sunday. All dietary requirements will be considered and catered for - please make sure you provide this information upon registering.
		li
			h2 Who owns the projects?
			p All IP generated at Sex Tech Hack belongs to the teams. However, to generate the widest benefit from this event, we encourage attendees to provide Open Source licenses for the results of their creativity.
		li
			h2 Can I start before?
			p While you can explore ideas before the Sex Tech Hack weekend and produce designs, you cannot write a line of code for your project before the event itself and still enter the challenges. If you want to bring an existing project to the table, we encourage full discoluse and honesty. 
		li
			h2 What shall I bring?
			p All participants will need to bring their laptop, charger(s) and any other devices they wish to work on. If you are staying overnight, you will also need to bring a sleeping bag.
		li
			h2 How do I get to the venue?
			p The event will be held in the beautiful #[a(href="https://www.google.co.uk/maps/place/New+Cross,+Hatcham,+St+James/@51.474294,-0.0381297,18z/data=!4m5!1m2!2m1!1sst+james+hatcham+goldsmiths!3m1!1s0x0000000000000000:0x595f961254c65884?hl=en") St James Hatcham]. It's a 5 minute walk from New Cross Gate station, and a 10 minute walk from New Cross. 