.faq.container.center
	h1 Frequently asked questions
	ul
		li
			h2 What is Sex Tech Hack?
			p Accountability Hack is an annual, two day event bringing together the civic tech community in the UK. Developers are given the challenge to use parliamentary data to ideate new and innovative ways in which the people can become involved in the democratic process. The event is also an opportunity to get political support and buy in, and ultimately aims to produce projects that will hold our elected more accountable.
		li
			h2 Who is this event for?
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nam nisi, ad debitis! Vitae, hic voluptates. Voluptatum inventore sed aperiam rerum, possimus nobis sequi nihil, similique consequatur, impedit eius et.
		li
			h2 What are the outcomes?
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat facilis libero ducimus tenetur tempora. Ullam sapiente sit, laudantium reprehenderit odio repellendus libero commodi corporis dolorem dolor illo velit incidunt.
		li
			h2 Isn't hacking bad?
			p In this context, hacking means building apps, websites and services really quickly to prove the value in an idea. Nothing malicious, nothing illegal.
		li
			h2 I don't have a team
			p You don’t need a team to take part; it’s perfectly acceptable to create a solo project. However, at the pre-event session and the event itself, there will be opportunities to share ideas and connect with your fellow developers to form a team. As organisers, we’ll do our best to encourage and facilitate teamwork across the weekend.
		li
			h2 Can I attend if I'm under 18
			p Yes, anyone aged 14 and over is welcome to come to Accountability Hack. However, if you are aged under 18 you will not be allowed to stay overnight. The day’s events will wrap up at 8pm on Saturday, with all under 18s welcome back in the morning for breakfast and more hacking.
		li
			h2 Do I have to stay overnight?
			p No, it is not a requisite to stay over - the day’s events will officially wrap up around 8pm, at which point all under 18s will leave. However, if you are over 18 you are welcome to stay until later. The hack will kick off again on Sunday at 8am with breakfast.
		li
			h2 What's the deal with food?
			p All food across the weekend will be provided. That is: breakfast and lunch on Saturday and Sunday, as well as dinner on Saturday evening. Breakfast will be continental, and Saturday dinner will be burritos. All dietary requirements will be considered and catered for - please make sure you provide this information upon registering.
		li
			h2 Who owns the projects?
			p All IP generated at Accountability Hack belongs to the developer. However, to generate the widest benefit from this event, we encourage developers to provide Open Source licenses for the results of their creativity.
		li
			h2 Can I start before?
			p While you can explore ideas before the Accountability Hack weekend and produce designs, you cannot write a line of code for your project before the event itself.
		li
			h2 What shall I bring?
			p All participants will need to bring their laptop, charger(s) and any other devices they wish to work on. If you are staying overnight, you will also need to bring a sleeping bag.