.hero
	img(src="img/logo-white.svg", alt="Sex Tech Hack Logo")
	h1 Sex Tech Hack
	p Companionship. Intamacy. Sexuality. 
	small Goldsmiths, University of London. 17 - 18 December 2016.
	ul.buttons
		li: a(href="#") Apply to take part
		li: a(href="#") Want to sponsor?
		li: a(href="#") Got questions?