.hero
	img(src="img/logo-white.svg", alt="Sex Tech Hack Logo")
	h1 Sex Tech Hack
	p Companionship. Intimacy. Sexuality. 
	small Goldsmiths, University of London. 17 - 18 December 2016.
	ul.buttons
		li: a.disabled Applications are now closed
		li: a(href="mailto:k.devlin@gold.ac.uk") Want to sponsor?
		li: a(href="mailto:klewi014@gold.ac.uk") Got questions as a hacker?
		li: a(href="mailto:S.Cox@gold.ac.uk") Media enquiries