.intro.container.center
	:marked
		# Should taboo stifle innovation?

		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deleniti corrupti aspernatur quia ipsum blanditiis, at, mollitia omnis molestiae, reprehenderit id qui. Ipsa, earum, deleniti. Nobis numquam ipsa, sint tempora.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nihil laborum ea necessitatibus minus debitis ab, quam voluptatum nostrum, magni dolorem placeat eaque maxime doloribus reprehenderit ex eum. Architecto, eligendi.

		 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga autem incidunt et ipsum, commodi consequatur natus sit quas, rerum aperiam alias facere dolorum odio atque quo in officia neque nihil?