.intro.container.center
	:marked
		# Should taboo stifle innovation?

		This hackathon is being run in the two days prior to The Second International Congress on Love and Sex with Robots - and will unite developers, designers, psychologists and more in building prototype hardware, interfaces and apps.

		The aim of the 24 hour hackathon is to explore and innovate in the area of sex tech, working on the themes of intimacy, companionship and sexuality, as well as the challenges of hardware, interfaces and apps. 

		The hackathon is deliberately cross-disciplinary and will be attended by a wide range of experts and enthusiasts: developers (hardware and software), psychologists, designers, philosophers, artists, sex writers, nanomaterial scientists, and musicians.

		We want to combine the amazing range of skills and knowledge to improve interaction, push boundaries and revolutionise design.

		The hackathon will be fuelled by sex-positive, non-objectifying messaging which is accessible for those of all genders and sexualities. While tickets will be allocated by an application process, it will be completely free to attend. The Hacksmiths team have extensive experience of running highly-successful large-scale hackathons.