.partners
  ul
    li: a(target="_blank", href="http://www.gold.ac.uk/computing/"): img.gs(src="img/logo-goldsmiths.png", alt="Goldsmiths Logo")
    li: a(target="_blank", href="http://loveandsexwithrobots.org"): img(src="img/logo-lsr.png", alt="Love and Sex with Robots Logo")
    li: a(target="_blank", href="http://hacksmiths.club"): img(src="img/logo-hacksmiths.svg", alt="Hacksmiths Logo")
    li: a(target="_blank", href="http://goldsmithssu.org"): img(src="img/logo-gssu.png", alt="Goldsmiths SU Logo")
    li: a(target="_blank", href="https://mysteryvibe.com"): img(src="img/logo-mysteryvibe.png", alt="MysteryVibe Logo")