.partners
	ul
		li: a(href=""): img.gs(src="img/logo-goldsmiths.png", alt="Goldsmiths Logo")
		li: a(href=""): img(src="img/logo-lsr.png", alt="Love and Sex with Robots Logo")
		li: a(href=""): img(src="img/logo-hacksmiths.svg", alt="Hacksmiths Logo")