extends base.jade

block content
    include _header.jade
    .container
        h1.page-title Code of Conduct
        :marked
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam at eligendi, accusantium commodi molestias maiores error laudantium vel odio omnis totam explicabo voluptas quidem exercitationem tempora, delectus eos, ipsum dolorem.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ullam, iure dolores perferendis rem aperiam quidem quia, praesentium nostrum accusantium quos accusamus? Ab debitis perspiciatis, nam vero obcaecati deleniti nulla?

            ## Header

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptates ullam ipsum cum porro pariatur, deserunt expedita ratione incidunt quasi repellat fugiat, architecto aspernatur eius, non iste vero nostrum autem.