extends base.jade

block content
  include _header.jade
  .container.page-conduct
    h1.page-title Ideas & Inspiration
    <script src="https://hackpad.com/rUHwSTwCA2U.js"></script><noscript><div>View <a href="https://hackpad.com/rUHwSTwCA2U">Sex Tech Hack Ideas & Inspiration</a> on Hackpad.</div></noscript>