doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Sex Tech Hack
    link(href="https://fonts.googleapis.com/css?family=Amatic+SC|Quicksand:400,700", rel="stylesheet")
    != css()

  body
    include _hero.jade
    include _partners.jade
    include _intro.jade
    include _conduct.jade
    include _faq.jade
    include _conference.jade

    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    != js()
