extends base.jade

block content
	include _header.jade
	.container.page-conduct
		h1.page-title Things we've actually said
		p Cum and join us for the Sex Tech Hack
		p So custom branded vibrator for swag is our stretch goal?
		p Build that idea that's buzzing about your head
		p We don't want you to stab in the dark
		p How can we penetrate the market
		p Sex Tech Hack - make something that will go down, in history
		p Do you have an idea? Can you pull it off?
		p Come for the food. If that's what works for you.