body 
	font-family: $body_font
	font-weight: 700
	line-height: 1.5
	
h1, h2, h3, h4, h5, h6 
	font-family: $header_font
	letter-spacing: 0.025em
	
container()
	max-width: 960px
	margin 0 auto
	display block
	padding: 0 2em
	
.container
	container()
	
.center
	text-align center
	
hr.container
	margin-top 2em
	margin-bottom 2em
	
h1.page-title
	font-size: 3rem
	color: $red