button($bg, $txt)
	background: linear-gradient(to bottom, $bg, darken($bg, 5%))
	color: $txt
	padding: 0.5em 1em
	margin: 0 0.5em
	border-radius: 0.25em
	text-decoration none
	display: inline-block
	&:active 
		background: darken($bg, 10%)