.faq
	margin-bottom 2em
	ul
		padding-left 0
		li 
			list-style-type none
			h2
				display block
				cursor pointer
				&:before
					content: "+"
					margin-right 0.5em
			p
				display none
			&.active
				h2:before
					content: "-"