header
	background: linear-gradient(to right, $maroon, $red)
	padding: 1em 0
	.left
		overflow: auto
		color: inherit
		text-decoration none
		display block
		img
			height: 6rem
			float left
		h1
			float left
			font-size: 2rem
			margin-top 1.6rem
			color: white
			margin-left 1em