.hero 
	background: linear-gradient(to right, rgba($maroon, 0.5), rgba($red,0.5)), url("../img/robot_ace2015.jpg")
	background-size: cover
	background-position: center
	padding: 2em
	img
		height 200px
		display block
		margin 0 auto
		margin-bottom 1em
	* 
		color $cream
		text-align center
		margin 0
		display block
	h1
		font-size: 3em
		margin-bottom 0.5rem
	p
		font-size: 1.25em
		margin-bottom 0.25rem
		font-weight: 700
	small
		font-size: 1em
		font-weight: 700
	ul.buttons
		display block
		margin-top 0.5em
		padding-left 0
		li
			display inline-block
			margin-top 1em
			a
				button($cream, $red)
				font-weight: 700