$red = rgba(141, 11, 59, 1)
$maroon = rgba(55, 31, 56, 1)
$blue = rgba(44, 53, 75, 1)
$baby_pink = rgba(237, 225, 225, 1)
$cream = rgba(250, 245, 240, 1)

$header_font = 'Amatic SC', serif
$body_font = "Quicksand", sans-serif